body {
    background-color: rgb(71, 145, 158);
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2c3e50;
    padding: 10px;
}


.robot {
    width: 40%;
    margin: auto;
    display: block;
}

.game-container {
    font-size: 30px;
    color: rgb(219, 198, 202);
}


input {
    height: 40px;
    width: 600px;
    font-size: 35px;
}

button {
    height: 45px;
    width: 146px;
    font-size: 35px;
    
}



footer {
    background-color: #2c3e50;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}