body {
    background-color: #101213;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}


header {
    background-color: #121312;
    color: blueviolet;
    font-size: 20px;
    padding: 1%;
}




.game-container {
    font-size: 30px;
    color: bisque;
    width: 100%;
}


input {
    height: 40px;
    width: 600px;
    font-size: 35px;
    background-color: bisque;
}

input:hover {
    background-color: blueviolet;
    color: aliceblue;
    cursor: pointer;
}

button {
    height: 45px;
    width: 146px;
    font-size: 35px;
    background-color: #101213;
    color: bisque;
}

button:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.imagem_numeros {
    padding: 3% 0 0 0;
}

footer {
    background-color: #121312;
    color: aqua;
    padding: 1%;
}