body {
    background-color: #101213;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;


.game-container {
    font-size: 30px;
    color: rgb(219, 198, 202);
    width: 100%;


}


input {
    height: 40px;
    width: 600px;
    font-size: 35px;
    background-color: bisque;
}

button {
    height: 45px;
    width: 146px;
    font-size: 35px;
    background-color: #101213;
    color: bisque;
}

button:hover {
    background-color: blueviolet;
    cursor: pointer;
}


.imagem_numeros {
    width: 60%;

}


}